body {
  overflow-x: hidden !important;
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to  right,#f0efeb,#a9d6e5);
}


.logo-box{
  height:100px;
  width: 100px;
}

.logo-box img{
  width: 100%;
  height: 100%;
}



